# Data Cleaning

This script is for tranforming initial raw data to input vectors. The output files should be of 4 types: sem_items, sem_relations, sem_attributes, sem_data.

- sem_items, sem_relations, and sem_attributes consist of all names of items, relations and attributes. These 3 files will not enter model training directly, however, they will supplement in other functions like analysis plotting, so we still recommend processing and storing them in full.
- sem_data consists of all one-hot encoded vectors as input for training model.

Check sample_input in data folder for reference of output.

In [ ]:
import pandas as pd
import numpy as np
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#!ls "/content/drive/My Drive/1016 Cognition Project/"
path = "/content/drive/My Drive/1016 Cognition Project/"

# Subsample the original dataset

In [ ]:
#read data
object_data = pd.read_excel(path+"Concept_similarity_matrix.xlsx")
object_property = pd.read_excel(path+"All_concepts_and_features.xlsx")

In [ ]:
object_data.head()

  Unnamed: 0   Unnamed: 1          安全带  ...         钻石         嘴唇         座垫
0        NaN          NaN  Safety belt  ...   Diamonds        Lip    Cushion
1        安全带  Safety belt            1  ... -0.0281335   0.306865   0.349275
2        安全帽   Safety hat     0.414539  ...  0.0620956   0.293337   0.335119
3       安慰奶嘴     pacifier   -0.0125689  ...  0.0289418 -0.0139314  0.0142867
4         鹌鹑        quail   -0.0957668  ... -0.0993584  -0.125606   -0.14276

[5 rows x 1412 columns]

In [ ]:
all_objects = object_data.iloc[1:,1]
all_objects = np.array(all_objects)

In [ ]:
#randomly choose 700 objects 
object_sample = np.random.choice(all_objects, size = 700, replace = False)

In [ ]:
object_property.head()

    概念  ... 按30人计算有多少人填写了该特征-normalized numer of participants mentioning this feature
0  安全带  ...                                          27.096774
1  安全带  ...                                          22.258065
2  安全带  ...                                          17.419355
3  安全带  ...                                          16.451613
4  安全带  ...                                          15.483871

[5 rows x 7 columns]

In [ ]:
#subsample object-property data
object_property_sub = object_property[object_property['concept'].isin(object_sample)]

In [ ]:
#save to a new data
object_property_sub.to_csv(path+'concept_feature_sub.csv')

# Data cleaning, one-hot encoding

In [ ]:
#load data
data = pd.read_csv(path+"0509_1.csv")

In [ ]:
data

       __                       concept  ... Unnamed: 11 Unnamed: 12
0     ___             Tyrannosaurus Rex  ...         NaN         NaN
1     ___                  silver birch  ...         NaN         NaN
2     ___             white-barked pine  ...         NaN         NaN
3      __                       Cypress  ...         NaN         NaN
4      __                         zebra  ...         NaN         NaN
...   ...                           ...  ...         ...         ...
1494  ___                      Broccoli  ...         NaN         NaN
1495   __                       sausage  ...         NaN         NaN
1496  ___  A variety of Chinese cabbage  ...         NaN         NaN
1497   __                         onion  ...         NaN         NaN
1498  ___                       Lettuce  ...         NaN         NaN

[1499 rows x 13 columns]

In [ ]:
#split feature into relation and property
data['feature'] = data['feature'].str.split('-')

In [ ]:
#reset index 
data = data.reset_index(drop=True)

In [ ]:
#separate feature
data['relation'] = [data['feature'][i][0] for i in range(len(data))]
data['attribute'] = [data['feature'][i][1] for i in range(len(data))]

In [ ]:
data['attribute'] = data['attribute'].str.lower()

## Concept

In [ ]:
#sort data according to concept
data = data.sort_values(by=['concept'])
#reset index 
data = data.reset_index(drop=True)

In [ ]:
#one-hot encoding
from sklearn.preprocessing import LabelBinarizer
#from sklearn.preprocessing import OneHotEncoder
data['concept_encoded'] = LabelBinarizer().fit_transform(data.concept).tolist()

In [ ]:
#save concept into a txt file, comment it when done

all_concepts = data.concept.unique().tolist()
with open(path+'sem_items_0509_1.txt', 'w+') as f:
 
    # write elements of list
    for items in all_concepts:
        f.write('%s\n' %items)
      
    print("File written successfully")
# close the file
f.close()

File written successfully

## Relation

In [ ]:
data.relation.unique()

array(['is', 'need', 'has', 'can'], dtype=object)

In [ ]:
#clean relation
data.loc[(data['relation'] == 'laike') | (data['relation'] == 'likes '), 'relation'] = 'like'

In [ ]:
#sort data according to relation
data = data.sort_values(by=['concept','relation'])

In [ ]:
#one-hot encoding
data['relation_encoded'] = LabelBinarizer().fit_transform(data.relation).tolist()

In [ ]:
#save relation into a txt file, comment it when done

all_relations = data.relation.unique().tolist()
with open(path+'sem_relations_0509_1.txt', 'w+') as f:
 
    # write elements of list
    for items in all_relations:
        f.write('%s\n' %items)
      
    print("File written successfully")
# close the file
f.close()

File written successfully

## Attribute

In [ ]:
#trim spaces
data['attribute'] = data['attribute'].str.strip()

In [ ]:
#sort data according to attribute
data = data.sort_values(by=['attribute'])

In [ ]:
#one-hot encoding
data['attribute_encoded'] = LabelBinarizer().fit_transform(data.attribute).tolist()

In [ ]:
#save relation into a txt file, comment it when done

all_attributes = data.attribute.unique().tolist()
with open(path+'sem_attributes_0509_1.txt', 'w+') as f:
 
    # write elements of list
    for items in all_attributes:
        f.write('%s\n' %items)
      
    print("File written successfully")
# close the file
f.close()

File written successfully

In [ ]:
#concatenate encoded columns
data = data.sort_values(by=['concept','relation'])
data = data.reset_index(drop=True)
data['encoded_concat'] = [data['concept_encoded'][i]+data['relation_encoded'][i]+data['attribute_encoded'][i] for i in range(len(data))]

In [ ]:
data.to_csv(path+'encoded_data.csv')

# Get encoded sequences

In [ ]:
data = pd.read_csv(path+'encoded_data.csv')

In [ ]:
#convert str of list to list
from ast import literal_eval
data.concept_encoded = data.concept_encoded.apply(literal_eval)
data.relation_encoded = data.relation_encoded.apply(literal_eval)
data.attribute_encoded = data.attribute_encoded.apply(literal_eval)

In [ ]:
type(data['attribute_encoded'][0])

list

In [ ]:
#convert encoded attribute to np array
data.attribute_encoded = data.attribute_encoded.apply(np.array)

In [ ]:
type(data['attribute_encoded'][0])

numpy.ndarray

In [ ]:
g = data.groupby(['concept', 'relation'])
attr_concat = pd.concat([g.attribute_encoded.apply(np.sum)], axis=1)

In [ ]:
len(attr_concat['attribute_encoded'])

497

In [ ]:
concept_relation = [data['concept_encoded'][i]+data['relation_encoded'][i] for i in range(len(data))]
len(concept_relation)

1499

In [ ]:
unique_concept_relation = []
for i in concept_relation:
    if i not in unique_concept_relation:
        unique_concept_relation.append(i)

In [ ]:
len(unique_concept_relation)

497

In [ ]:
attr_concat_l = attr_concat.attribute_encoded.apply(np.ndarray.tolist)

In [ ]:
obj_rel_attr_list = [unique_concept_relation[i]+attr_concat_l[i] for i in range(len(unique_concept_relation))]

In [ ]:
#convert list of int to string
obj_rel_attr_str_list = []
for l in obj_rel_attr_list:
    string_l = [str(n) for n in l]
    str_of_int = " ".join(string_l)
    obj_rel_attr_str_list.append(str_of_int)

In [ ]:
#save data into a txt file, comment it when done

with open(path+'sem_data_0429_2.txt', 'w+') as f:
 
    # write elements of list
    for items in obj_rel_attr_str_list:
        f.write('%s\n' %items)
      
    print("File written successfully")
# close the file
f.close()

File written successfully

In [ ]:
D = np.loadtxt(path+'sem_data.txt')